html {
  font-family: Verdana, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 74px;
  text-align: center;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div {
  background-color: coral;
  height: 200px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 200px;
}
